body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

hr {
  border: none;
  border-bottom: 1px solid rgb(182, 182, 182);
  margin: 10px 0;
}

.imgA {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  box-shadow: 2px 2px 7px #000000;
}

.publishedDate {
  display: flex;
  align-items: center;
  color: #7a7a7a;
}
.publishedDate img {
  width: 14px;
  margin-right: 5px;
  display: block;
}

a:not(.logo, nav a, aside a) {
  color: #000000;
}
a:not(.logo, nav a, aside a) img {
  transition: all 0.3s;
  display: block;
}
a:not(.logo, nav a, aside a):hover img {
  filter: opacity(0.7);
}

header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
header .logo img {
  height: 40px;
  display: block;
}
header .hamburger {
  display: none;
}
header .search {
  display: flex;
}
header .search input {
  height: 30px;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.2);
  outline: none;
}
header .search input[type=text] {
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}
header .search input[type=submit] {
  width: 40px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  border-left: none;
  background: url(../../public/search.svg), #47688f;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
header .search input[type=submit]:hover {
  background: url(../../public/search.svg), #3b5779;
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}
header .search .glass {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .search .glass img {
  width: 25px;
  margin-right: 10px;
  pointer-events: none;
}
header .search .glass div {
  pointer-events: none;
  color: rgba(255, 255, 255, 0.6901960784);
}
header .search .glass:hover div {
  text-decoration: underline;
  color: #ffffff;
}
header .links {
  margin: 0 0 auto 0;
  display: flex;
}
header .links a {
  margin: 0 5px;
}
header .links a svg {
  width: 25px;
  height: 25px;
  display: block;
  fill: rgba(255, 255, 255, 0.6901960784);
  transition: all 0.5s;
}
header .links a:hover svg {
  fill: #ffffff;
}

nav {
  position: sticky;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  z-index: 1;
  transition: all 0.5s;
}
nav a {
  margin: 0 15px;
  color: rgba(255, 255, 255, 0.6901960784);
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav a div {
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s;
}
nav a:hover {
  color: #ffffff;
  text-decoration: none;
}
nav a:hover div {
  width: 120%;
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3843137255);
}
@keyframes spinnin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.loading::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 17px solid rgb(204, 204, 204);
  border-bottom: 17px solid rgb(123, 136, 255);
  border-top: 17px solid rgb(123, 136, 255);
  border-radius: 50%;
  animation-name: spinnin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.loading::after {
  content: "Loading";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unavailable {
  background-color: rgb(221, 221, 221);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  padding: 10px 30px;
  box-sizing: border-box;
}
.unavailable .unavailableFlex {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.unavailable .unavailableFlex img {
  width: 30px;
  margin-right: 10px;
}
.unavailable .unavailableFlex h2 {
  margin: 0;
}
.unavailable hr {
  width: 90%;
  margin: 10px auto;
}
.unavailable p {
  font-size: 1.1rem;
}

footer {
  padding: 10px 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.3333333333);
  font-size: 0.8rem;
  background-color: rgb(20, 20, 20);
}

@media only screen and (max-width: 500px) {
  header .hamburger {
    display: block;
  }
  header .hamburger img {
    display: block;
  }
  header aside img {
    display: block;
    margin: 10px;
    margin-left: auto;
  }
  header aside hr {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3333333333);
  }
  header aside .search_mobile {
    width: -moz-fit-content;
    width: fit-content;
    margin: 15px auto;
    display: flex;
  }
  header aside .search_mobile input[type=text] {
    width: 180px;
    height: 25px;
    border: none;
    border-radius: 3px 0 0 3px;
    color: rgba(255, 255, 255, 0.6901960784);
    font-size: 1rem;
    background-color: rgba(51, 57, 136, 0.8);
  }
  header aside .search_mobile input[type=text]:focus {
    outline: none;
  }
  header aside .search_mobile input[type=submit] {
    width: 35px;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color: rgba(102, 109, 214, 0.8);
    background-image: url(../../public/search.svg);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  header aside ul {
    margin: 0;
    padding-left: 30px;
  }
  header aside ul li {
    margin: 10px 0;
  }
  header aside ul li a {
    color: rgba(255, 255, 255, 0.6901960784);
  }
  header .search {
    display: none;
  }
  header .links {
    display: flex;
  }
  header .links a {
    margin: 0 3px;
  }
  header .links a svg {
    width: 20px;
    height: 20px;
    display: block;
    fill: rgba(255, 255, 255, 0.6901960784);
    transition: all 0.5s;
  }
  header .links a:hover svg {
    fill: #ffffff;
  }
  nav {
    display: none;
  }
  .unavailable {
    width: 90%;
    padding: 10px;
  }
  .unavailable p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=App.css.map */