body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    // background-color: #a5eaff;
}


hr {
    border: none;
    border-bottom: 1px solid rgb(182, 182, 182);
    margin: 10px 0;
}
.imgA {
    width: fit-content;
    display: block;
    box-shadow: 2px 2px 7px #000000;
    // border-radius: 7px;
    // overflow: hidden;
}

.publishedDate {
    display: flex;
    align-items: center;
    img {
        width: 14px;
        margin-right: 5px;
        display: block;
    }
    color: #7a7a7a;
    // font-size: .9rem;
    // margin-bottom: 3px;
}
a:not(.logo, nav a, aside a) {
    color: #000000;
    // text-decoration: none;
    
    img {
        transition: all .3s;
        display: block;
    }
    &:hover {
        // text-decoration: underline;
        img {
            filter: opacity(.7);
        }
    }
    
    &:hover {
        // text-decoration: underline;
        
    }
}
$headeTextColor: #ffffffb0;
header {//header styles are in styled components file

    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        img {
            // width: 100px;
            height: 40px;
            display: block;
        }
    }

    

    // margin-bottom: 15px;
    // height: 50px;

    .hamburger {
        display: none;
    }

    .search {
        display: flex;
        // justify-content: end;
        // margin-bottom: 10px;
        input {
            height: 30px;
            // border: 0;
            padding: 0;
            box-sizing: border-box;
            border: 1px solid #ffffff33;
            outline: none;
        }
        input[type='text'] {
            // background-color: rgb(255, 255, 255);
            // background-color: rgb(245, 245, 245);
            // border-bottom: 1px solid #ffffff;
            border-right: none;
            border-radius: 5px 0 0 5px;
            // color: #ffffff;
            font-size: 1rem;

            // &:focus {
            //     background-color: rgb(207, 207, 207);
            // }
        }
        input[type='submit'] {
            width: 40px;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            // background-color: blueviolet;
            border-left: none;
            background: url(../../public/search.svg), #47688f;
            background-size: 20px;
            background-position: center;
            background-repeat: no-repeat;
            &:hover {
                background: url(../../public/search.svg), #3b5779;
                background-size: 20px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .glass {
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                width: 25px;
                margin-right: 10px;
                pointer-events: none;
            }
            div {
                pointer-events: none;
                // padding: 0 5px;
                color: $headeTextColor;
            }

            &:hover {
                div {
                    text-decoration: underline;
                    color: #ffffff;
                }
            }
        }
    }

    .links {
        margin: 0 0 auto 0;
        // justify-content: end;
        display: flex;
        a {
            margin: 0 5px;
            svg {
                width: 25px;
                height: 25px;
                display: block;
                fill: $headeTextColor;
                transition: all .5s;
            }

            &:hover {
                svg {
                    fill: #ffffff;
                }
            }
        }
    }
    
    
    // .flex {
        //     display: flex;
        //     justify-content: space-between;
        // }
    }
nav {
    position: sticky;

    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    z-index: 1;
    transition: all .5s;
    a {
        margin: 0 15px;
        color: $headeTextColor;
        text-decoration: none;

        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            width: 0;
            height: 2px;
            background-color: #ffffff;
            transition: all .3s;
        }

        &:hover {
            color: #ffffff;
            text-decoration: none;
            div {
                width: 120%;
            }
        }
        
    }
}


.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff62;
    // z-index: 1;
    @keyframes spinnin {
        from {
          transform: translate(-50%,-50%) rotate(0deg);
        }
        to {
          transform: translate(-50%,-50%) rotate(360deg);
        }
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width:100px;
        height:100px;
        border: 17px solid rgb(204, 204, 204);
        border-bottom:  17px solid rgb(123, 136, 255);
        border-top:  17px solid rgb(123, 136, 255);
        border-radius: 50%;
        animation-name: spinnin;
        animation-duration:2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &::after {
        content: 'Loading';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.unavailable {
    // width: fit-content;
    background-color: rgb(221, 221, 221);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 7px;
    padding: 10px 30px;
    box-sizing: border-box;
    .unavailableFlex {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        img {
            width: 30px;
            margin-right: 10px;
        }
        h2 {
            margin: 0;
        }
    }
    hr {
        width: 90%;
        margin: 10px auto;
    }
    p {
        font-size: 1.1rem;
        // white-space: nowrap;
    }
}

footer {
    padding: 10px 0;
    // margin-top: 50px;
    text-align: center;
    color: #ffffff55;
    font-size: .8rem;
    background-color: rgb(20, 20, 20);
}

@media only screen and (max-width: 500px) {

    header {
        
        // .logo {
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%, -50%);
        //     img {
        //         height: 40px;
        //         display: block;
        //     }
        // }

        .hamburger {
            display: block;
            img {
                display: block;
            }
        }

        aside {
            img {
                display: block;
                margin: 10px;
                margin-left: auto;
            }
            hr {
                border: none;
                border-bottom: 1px solid #ffffff55;
            }
            .search_mobile {
                width: fit-content;
                margin: 15px auto;
                display: flex;
                input[type='text'] {
                    width: 180px;
                    height: 25px;
                    border: none;
                    border-radius: 3px 0 0 3px;
                    color: $headeTextColor;
                    font-size: 1rem;
                    background-color: #333988cc;
                    &:focus {
                        outline: none;
                    }
                }
                input[type='submit'] {
                    width: 35px;
                    border: none;
                    border-radius: 0 3px 3px 0;
                    background-color: #666dd6cc;
                    background-image: url(../../public/search.svg);
                    background-position: center;
                    background-size: 60%;
                    background-repeat: no-repeat;
                }
                
            }
            ul {
                margin: 0;
                // margin-top: 20px;
                padding-left: 30px;
                // list-style: none;
                li {
                    margin: 10px 0;
                    a {
                        color: $headeTextColor;
                    }
                }
            }
        }
    
        .search {
            display: none;
            // input {
            //     height: 30px;
            //     padding: 0;
            //     box-sizing: border-box;
            //     border: 1px solid #ffffff33;
            //     outline: none;
            // }
            // input[type='text'] {
            //     border-right: none;
            //     border-radius: 5px 0 0 5px;
            //     font-size: 1rem;

            // }
            // input[type='submit'] {
            //     width: 40px;
            //     border-radius: 0 5px 5px 0;
            //     cursor: pointer;
            //     border-left: none;
            //     background: url('../public/search.svg'), #47688f;
            //     background-size: 20px;
            //     background-position: center;
            //     background-repeat: no-repeat;
            //     &:hover {
            //         background: url('../public/search.svg'), #3b5779;
            //         background-size: 20px;
            //         background-position: center;
            //         background-repeat: no-repeat;
            //     }
            // }
            // .glass {
            //     display: flex;
            //     align-items: center;
            //     cursor: pointer;
    
            //     img {
            //         width: 25px;
            //         margin-right: 10px;
            //         pointer-events: none;
            //     }
            //     div {
            //         pointer-events: none;
            //         color: $headeTextColor;
            //     }
    
            //     &:hover {
            //         div {
            //             text-decoration: underline;
            //             color: #ffffff;
            //         }
            //     }
            // }
        }
    
        .links {
            // margin: 0 0 auto 0;
            display: flex;
            a {
                margin: 0 3px;
                svg {
                    width: 20px;
                    height: 20px;
                    display: block;
                    fill: $headeTextColor;
                    transition: all .5s;
                }
    
                &:hover {
                    svg {
                        fill: #ffffff;
                    }
                }
            }
        }
    }

    nav {
        display: none;
    }

    .unavailable {
        width: 90%;
        // background-color: rgb(221, 221, 221);
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // border-radius: 7px;
        padding: 10px;
        // box-sizing: border-box;
        .unavailableFlex {
            // display: flex;
            // align-items: center;
            // width: fit-content;
            // margin: 0 auto;
            img {
                // width: 30px;
                // margin-right: 10px;
            }
            h2 {
                // margin: 0;
            }
        }
        hr {
            // width: 90%;
            // margin: 10px auto;
        }
        p {
            font-size: 1rem;
            // white-space: wrap;
        }
    }
    
}