.topStories, .featured, .hot, .trending, .moreToSee {
    a {
        text-decoration: none;
        
        &:hover {
            text-decoration: underline;
        }
    }
    &>h1 {
        font-size: 2rem;
        background: linear-gradient(to right, rgb(221, 0, 0) 15px, transparent 0%, transparent);
        padding-left: 25px;
        margin-bottom: 10px;
    }
    &>h2 {
        background: linear-gradient(to right, rgb(221, 0, 0) 11px, transparent 0%, transparent);
        padding-left: 19px;
        margin-bottom: 10px;
    }
}

.topStories, .featured {
    width: 95%;
    margin: 0 auto;
}

.topStories {
    
    h2, h3 {
        margin: 0;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        .left {
            width: 50%;
            a {
                width: 100%;
                h2 {
                    margin-top: 5px;
                    font-size: 1.7rem;
                }
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
        .right {
            width: 47%;
            .hidden {
                display: none;
            }
            hr {
                margin: 20px 0;
            }
            article {
                display: flex;
                align-items: flex-start;
                .imgA {
                    margin-right: 20px;
                    img {
                        width: 15vw;
                        aspect-ratio: 1.8/1;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .more {
        margin: 10px 0 20px;
        .button {
            width: fit-content;
            background-color: #505050;
            color: #ffffff;
            margin: 0 auto;
            padding: 3px 10px;
            border-radius: 10px;
            font-size: .9rem;
            cursor: pointer;
            span {
                margin: 0 10px;
            }
            &:hover {
                background-color: #707070;
            }
        }
        .moreToSee {
            margin-top: 10px;
            width: 100%;
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            article {
                border-left: 1px solid rgba(128, 128, 128, 0.349);
                border-top: 1px solid rgba(128, 128, 128, 0.349);
                padding: 20px;
                box-sizing: border-box;
                width: 25%;
                &:nth-of-type(1),&:nth-of-type(5),&:nth-of-type(9),&:nth-of-type(13) {
                    border-left: none;
                }
                &:nth-of-type(1),&:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4) {
                    border-top: none;
                }
            }
        }
    }
}

.featured {
    
    margin-bottom: 30px;
    hr {
        display: none;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        article {
            width: 23%;
            .imgA {
                width: 100%;
                img {
                    width: 100%;
                    aspect-ratio: 1.9/1;
                    object-fit: cover;
                }
            }
            h2 {
                margin: 0;
                margin-top: 10px;
                font-weight: 100;
                font-size: 1.2rem;
            }
        }
    }
}

.pickUp {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;

    &>div {
        width: 27%;
        border: 1px solid rgb(180, 180, 180);
        box-sizing: border-box;

        .title {
            display: flex;
            align-items: center;
            padding: 7px 10px;
            color: rgb(0, 20, 120);
            background-color: #6163df;
            img {
                width: 20px;
                aspect-ratio: 1/1;
                margin-right: 5px;
            }
            h2 {
                margin: 0;
            }
            a {
                margin: 0 0 0 auto;
                color: rgb(0, 20, 120);
                svg {
                    fill: rgb(0, 20, 120);
                    margin-right: 5px;
                }
            }
        }
        article {
            .imgA {
                box-shadow: none;
                img {
                    width: 100%;
                    aspect-ratio: 2/1;
                    object-fit: cover;
                }
            }
            h2 {
                font-weight: 100;
                font-size: 1.2rem;
                margin: 10px;
                margin-bottom: 0;
            }
            .publishedDate {
                margin: 0 0 10px 10px;
            }
        }
    }
}

.hot {
    margin: 30px 0;
    &:hover {
        a {
            h3 {
                opacity: 1;
                bottom: 0;
            }
            h2 {
                opacity: 1;
                left: 0;
            }
        }
    }
    a {
        display: block;
        position: relative;
        
        img {
            width: 100%;
            height: 70vh;
            object-fit: cover;
            border-radius: 0;
        }
        h3 {
            width: 100%;
            opacity: 0;
            position: absolute;
            bottom: 10%;
            text-align: center;
            padding: 5px;
            box-sizing: border-box;
            background-color: #ffffff77;
            transition: all .7s;
        }
        h2 {
            font-size: 2.7rem;
            opacity: 0;
            position: absolute;
            top: 20px;
            left: 50px;
            color: #ffffff;
            background: linear-gradient(135deg, red, yellow);
            padding: 5px 10px;
            box-sizing: border-box;
            transition: all .7s;
        }
    }
}

.trending {
    position: relative;
    height: 135px;
    width: 100%;
    overflow: hidden;
    h2 {
        height: 35px;
        margin: 0;
        padding-left: 4vw;
        background: none;
        color: #c00000;
        img {
            width: 25px;
        }
    }
    .toLeft, .toRight, .toRight_mobile {
        position: absolute;
        top: 35px;
        height: 100px;
        width: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 50%;
        }
    }
    .toLeft {
        left: 0;
        background: linear-gradient(to right, #ffffff, transparent);
    }
    .toRight, .toRight_mobile {
        right: 0;
        background: linear-gradient(to left, #ffffff, transparent);
    }
    .toRight_mobile {
        display: none;
    }

    ul { // ul styles are in styled components file
        li {
            display: flex;
            align-items: center;
            padding: 0 10px;
            width: 23vw;
            height: 100px;
            box-sizing: border-box;
            border-left: 1px solid #00000055;
            &:first-of-type {
                border: none;
            }
            span {
                font-size: 1.5rem;
                font-weight: bold;
            }
            a {
                margin: 0 10px;

                img {
                    width: 8vw;
                    aspect-ratio: 1.8/1;
                    object-fit: cover;
                }
                div {
                    font-size: .9rem;
                }
            }
        }
    }
}

.weatherSection {
    margin: 0 auto;
    padding: 20px 0 50px;
    position: relative;
    &::before, &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
    &::before {
        backdrop-filter: blur(7px);
        z-index: -1;
    }
    &::after {
        background-image: url(../../public/weather/bluesky.jpg);
        background-size: cover;
        z-index: -2;
    }

    h2 {
        width: fit-content;
        background: linear-gradient(to right, rgb(0, 3, 182) 11px, transparent 0%, transparent);
        padding-left: 19px;
        margin: 0 auto 10px;
        color: #ffffff;
    }

    ul {
        margin: 0 auto;
        padding: 0;
        width: fit-content;
        display: flex;
        list-style: none;
    
        li {
            width: 120px;
            margin: 0 10px;
            padding-bottom: 10px;
            box-shadow: 3px 3px 7px #5e5e5e;
            text-align: center;
    
            h3 {
                margin: 0;
                padding: 5px;
                color: #ffffff;
                text-shadow: 2px 2px 5px #0000005d;
                background-color: #5349df;
            }

            img {
                width: 100px;
            }

            .desc {
                font-size: .8rem;
                margin-bottom: 5px;
            }
            .temp {

                .maxTemp {
                    color: #c00000;
                    text-shadow: 1px 1px 3px #6e0000c4;
                }
                .minTemp {
                    color: #047091;
                    text-shadow: 1px 1px 3px #035068c4;
                }
            }
        }
    }
}


@media only screen and (max-width: 500px) {

    .topStories, .featured, .hot, .trending, .moreToSee {
          
        &>h1 {
            font-size: 1.8rem;
            background: linear-gradient(to right, rgb(221, 0, 0) 14px, transparent 0%, transparent);
            padding-left: 23px;
            margin: 15px 0;
        }
        &>h2 {
            margin: 15px 0;
        }
    }

    .topStories, .featured {
        width: 90%;
    }

    .topStories {
        .flex {
            .left {
                display: none;
            }
            .right {
                width: 100%;
                .hidden {
                    display: block;
                }
                article {
                    display: block;
                    .imgA {
                        margin: 0 auto;
                        img {
                            width: 85vw;
                        }
                    }
                    div {
                        margin-top: 5px;
                    }
                }
            }
        }
        .more {
            margin: 20px 0;

            .moreToSee {
                display: block;
                article {
                    border: none;
                    border-top: 1px solid rgba(128, 128, 128, 0.349);
                    padding: 10px 0;
                    width: 100%;
                    &:nth-of-type(2),&:nth-of-type(3),&:nth-of-type(4) {
                        border-top: 1px solid rgba(128, 128, 128, 0.349);
                    }
                    h3 {
                        font-size: 1rem;
                        font-weight: 100;
                    }
                }
            }
        }
    }

    .featured {

        hr {
            display: block;
            margin: 15px 0;
        }
        .flex {
            display: block;
            article {
                width: 90%;
                margin: 0 auto;
                .imgA {
                    margin: 0 auto;
                    width: 90%;
                }
                h2 {
                    font-size: 1rem;
                    margin-top: 5px;
                }
            }
        }
    }
    .pickUp {
        display: block;
        &>div {
            width: 80%;
            margin: 0 auto 30px;
        }
    }

    .hot {
        a {
            img {
                height: 100%;
            }
            h3 {
                opacity: 1;
                bottom: 0;
            }
            h2 {
                font-size: 1.5rem;
                opacity: 1;
                left: 0;
                top: 0;
            }
        }
    }

    .trending {

        h2 {
            background: none;
        }

        .toLeft, .toRight, .toRight_mobile {
            width: 14vw;
            img {
                width: 50%;
            }
        }
        .toRight {
            display: none;
        }
        .toRight_mobile {
            display: flex;
        }

        ul {
            margin-left: 8vw;
            li {
                width: 80vw;
                a {
                    img {
                        width: 20vw;
                    }
                }
            }
        }
    }

    .weatherSection {
        width: 95%;
        padding: 0;
        margin-bottom: 20px;

        &::after {
            display: none;
        }
        h2 {
            margin-left: 0;
            color: #000000;
        }
    
        ul {
            width: 100%;
            display: block;
            li {
                width: 100%;
                margin: 0;
                margin-bottom: 5px;
                box-shadow: none;
                display: flex;
                align-items: center;
                padding: 0;
        
                h3 {
                    width: 75px;
                    font-size: 1rem;
                    padding: 0;
                    background-color: transparent;
                }
    
                img {
                    width: 50px;
                }
                .desc {
                    margin-left: 5px;
                    margin-bottom: 0;
                }

                .temp {
                    margin: 0 10px 0 auto;
                    font-size: .8rem;
                }
            }
        }
    }
}