$bg:#FFFFFF;

body {
    font-family: 'Times New Roman', Times, Arial, serif;
    margin: 0;
    padding: 0;
    background-color: $bg;
}

header {
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    background: linear-gradient(rgb(255, 145, 0), rgb(251, 255, 35));
    border-bottom: 2px solid rgb(255, 206, 101);
    h2 {
        font-size: 1.8rem;
        color: white;
        text-shadow: rgb(255, 94, 0) 2px 2px 2px;
    }
}

main {
    margin: 20px 7%;
    .tagFlex {
        display: flex;
        justify-content: space-between;
        &>div {
            border-radius: 0 5px 0 0;
            width: 100%;
            text-align: center;
            padding: 7px 0;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.8);
            font-size: 1.2em;
            position: relative;
            svg {
                position: absolute;
                top: 0;
                left: 0;
                fill: $bg;
            }
        }
        .general {
            background-color: #ffa600;
        }
        .business {
            background-color: #ff00ff	;
        }
        .technology {
            background-color: #0011ff;
        }
        .entertainment {
            background-color: rgb(255, 57, 57);
        }
        .sports {
            background-color: rgb(0, 255, 13);
        }
        .science {
            background-color: rgb(255, 250, 0);
            color: orange;
        }
        .health {
            background-color: rgb(0, 255, 255);
            color: rgb(0, 140, 255);
        }
    }
    .formANDarticles {
        position: relative;
        border-radius: 0 0 7px 7px;
        padding: 20px 0 5px;
        .unavailable {
            width: fit-content;
            background-color: white;
            margin: 20px auto;
            border-radius: 7px;
            padding: 10px 30px;
            box-sizing: border-box;
            .unavailableFlex {
                display: flex;
                align-items: center;
                width: fit-content;
                margin: 0 auto;
                img {
                    width: 30px;
                    margin-right: 10px;
                }
                h2 {
                    margin: 0;
                }
            }
            hr {
                width: 90%;
                margin: 10px auto;
            }
            p {
                font-size: 1.1em;
            }
        }
        form {
            background-color: rgba(255, 255, 255, 1);
            width: fit-content;
            margin: 0 auto;
            padding: 20px 30px 10px;
            border-radius: 7px;
            .formFlex {
                display: flex;
                align-items: center;
                padding-bottom: 10px;
                border-bottom: 1px dotted grey;
                .operatorDiv, .fromDiv, .toDiv, .dash {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;
                }
                .dash {
                    width: 10px;
                    height: 2px;
                    border-bottom: 1px solid black;
                }
                .fromDiv, .toDiv {
                    position: relative;
                    label {
                        position: absolute;
                        top: -20px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            input[type="submit"] {
                display: block;
                margin: 10px auto 0;
                background: #eaeaea url('../public/search.svg') no-repeat;
                background-size: 25px;
                background-position-x: 5px;
                background-position-y: center;
                padding: 5px 15px;
                border: none;
                outline: 1px solid grey;
                border-radius: 15px;
                &:hover {
                    background: #cdcdcd url('../public/search.svg') no-repeat;
                    background-size: 25px;
                    background-position-x: 5px;
                    background-position-y: center;
                }
            }
        }
        .searchResult, article {
            width: 90%;
            margin: 20px auto;
        }
        .articleContainer {
            padding-bottom: 20px;
            box-sizing: border-box;
            article {
                height: fit-content;
                padding: 10px 7% 20px;
                box-sizing: border-box;
                outline: 3px solid transparent;
                a {
                    text-decoration: none;
                    color: black;
                    &:visited {
                        color: black;
                    }
                    .date {
                        display: flex;
                        align-items: center;
                        img {
                            width: 20px;
                            margin-right: 5px;
                        }
                    }
                    h2 {
                        text-decoration: underline;
                        margin: 0;
                        margin-bottom: 20px;
                    }
                    .a_flex {
                        display: flex;
                        align-items: center;
                        .pContainer {
                            position: relative;
                            p {
                                margin: 0 20px 0 0;
                                font-size: 1.1em;
                            }
                            .readMore {
                                display: flex;
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                height: 100px;
                                span {
                                    width: 100%;
                                    text-align: center;
                                    align-self: flex-end;
                                    font-size: 1.1em;
                                    color: navy;
                                }
                            }
                        }
                        img {
                            width: 300px;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}