body {
  font-family: "Helvetica", Arial, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  min-height: 100vh;
  position: relative;
}

.date {
  display: flex;
  align-items: center;
}
.date img {
  width: 20px;
  margin-right: 5px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3843137255);
  z-index: 1;
}
@keyframes spinnin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.loading div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: 17px solid rgb(204, 204, 204);
  border-bottom: 17px solid rgb(123, 136, 255);
  border-top: 17px solid rgb(123, 136, 255);
  border-radius: 50%;
  animation-name: spinnin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  background: linear-gradient(rgb(255, 145, 0), rgb(251, 255, 35));
  background: #000000;
  position: fixed;
  top: 0;
  z-index: 1;
}
header .tagFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .tagFlex > div {
  cursor: pointer;
  margin: 0 10px;
  color: rgba(255, 255, 255, 0.7);
}
header .logo {
  width: 7%;
  cursor: pointer;
}
header form {
  display: flex;
  align-items: center;
}
header form input[type=text]:focus {
  outline: none;
}
header form input[type=submit] {
  height: 25px;
  margin-left: 5px;
  background: rgb(71, 104, 143) url("../public/search2.svg") no-repeat;
  background-size: 25px;
  background-position: center;
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
}
header form input[type=submit]:hover {
  background: rgb(44, 67, 94) url("../public/search2.svg") no-repeat;
  background-size: 25px;
  background-position: center;
}
header form div {
  position: relative;
  font-size: 0.9em;
  margin-left: 5px;
  color: #ffffff;
  z-index: 2;
}
header form div span {
  position: relative;
  left: 100px;
  transition: all 0.5s linear;
  opacity: 0;
}
header form div span:hover {
  text-decoration: underline;
}
header form div:hover {
  color: #ffa600;
}
header form div:hover span {
  left: 0;
  opacity: 1;
}

.coverPageBG {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5764705882);
  z-index: 1;
}

.detailedSearch {
  background-color: rgb(255, 255, 255);
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px 30px 10px;
  border-radius: 7px;
  border: 1px solid grey;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.detailedSearch .x {
  position: absolute;
  top: 10px;
  right: 10px;
}
.detailedSearch .formFlex {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px dotted grey;
}
.detailedSearch .formFlex .operatorDiv, .detailedSearch .formFlex .fromDiv, .detailedSearch .formFlex .toDiv, .detailedSearch .formFlex .dash {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.detailedSearch .formFlex .dash {
  width: 10px;
  height: 2px;
  border-bottom: 1px solid black;
}
.detailedSearch .formFlex .fromDiv, .detailedSearch .formFlex .toDiv {
  position: relative;
}
.detailedSearch .formFlex .fromDiv label, .detailedSearch .formFlex .toDiv label {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.detailedSearch input[type=submit] {
  display: block;
  margin: 10px auto 0;
  background: #eaeaea url("../public/search.svg") no-repeat;
  background-size: 25px;
  background-position-x: 5px;
  background-position-y: center;
  padding: 5px 15px;
  border: none;
  outline: 1px solid grey;
  border-radius: 15px;
}
.detailedSearch input[type=submit]:hover {
  background: #cdcdcd url("../public/search.svg") no-repeat;
  background-size: 25px;
  background-position-x: 5px;
  background-position-y: center;
}

.unavailable {
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgb(221, 221, 221);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  padding: 10px 30px;
  box-sizing: border-box;
}
.unavailable .unavailableFlex {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.unavailable .unavailableFlex img {
  width: 30px;
  margin-right: 10px;
}
.unavailable .unavailableFlex h2 {
  margin: 0;
}
.unavailable hr {
  width: 90%;
  margin: 10px auto;
}
.unavailable p {
  font-size: 1.1em;
}

.categorized {
  margin: 100px 0% 20px;
  position: relative;
}
.categorized h1 {
  margin-left: 5%;
}
.categorized .tagFlex {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.categorized .tagFlex > div {
  border-radius: 0 5px 0 0;
  width: 100%;
  text-align: center;
  padding: 7px 0;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2em;
  position: relative;
}
.categorized .tagFlex > div svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: #FFFFFF;
}
.categorized .formANDarticles {
  position: relative;
  border-radius: 0 0 7px 7px;
  padding: 20px 0 5px;
}
.categorized .formANDarticles article {
  width: 90%;
  margin: 20px auto;
}
.categorized .formANDarticles .articleSeparator {
  width: 90%;
  height: 1px;
  border-bottom: 1px solid rgb(168, 168, 168);
}
.categorized .formANDarticles .switchDisplay {
  margin-left: 5%;
  display: flex;
  align-items: center;
}
.categorized .formANDarticles .switchDisplay .listDiv {
  padding-right: 5px;
  border-right: 1px solid black;
}
.categorized .formANDarticles .switchDisplay svg {
  width: 30px;
  height: auto;
  display: block;
}
.categorized .formANDarticles .switchDisplay .searchResult {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 20px;
}
.categorized .formANDarticles .articleContainer {
  padding-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.categorized .formANDarticles .articleContainer .listedArticle {
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 7% 20px;
  box-sizing: border-box;
  outline: 3px solid transparent;
}
.categorized .formANDarticles .articleContainer .listedArticle a {
  text-decoration: none;
  color: black;
}
.categorized .formANDarticles .articleContainer .listedArticle a:visited {
  color: black;
}
.categorized .formANDarticles .articleContainer .listedArticle a h2 {
  text-decoration: underline;
  margin: 0;
  margin-bottom: 20px;
}
.categorized .formANDarticles .articleContainer .listedArticle a .a_flex {
  display: flex;
  align-items: center;
}
.categorized .formANDarticles .articleContainer .listedArticle a .a_flex .pContainer {
  position: relative;
}
.categorized .formANDarticles .articleContainer .listedArticle a .a_flex .pContainer p {
  margin: 0 20px 0 0;
  font-size: 1.1em;
}
.categorized .formANDarticles .articleContainer .listedArticle a .a_flex .pContainer .readMore {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
.categorized .formANDarticles .articleContainer .listedArticle a .a_flex .pContainer .readMore span {
  width: 100%;
  text-align: center;
  align-self: flex-end;
  font-size: 1.1em;
  color: navy;
}
.categorized .formANDarticles .articleContainer .listedArticle a .a_flex img {
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.categorized .formANDarticles .articleContainer .thumbnailedArticle {
  width: 25%;
  height: 30Vh;
  overflow: hidden;
  margin: 20px;
}
.categorized .formANDarticles .articleContainer .thumbnailedArticle a {
  display: block;
  position: relative;
  color: #000000;
}
.categorized .formANDarticles .articleContainer .thumbnailedArticle a .date {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.categorized .formANDarticles .articleContainer .thumbnailedArticle a h2 {
  padding-left: 10px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.categorized .formANDarticles .articleContainer .thumbnailedArticle a img {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}
.categorized .formANDarticles .articleContainer .thumbnailedArticle a .whiteBack {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.categorized .formANDarticles .articleContainer .thumbnailedArticle a .whiteBack, .categorized .formANDarticles .articleContainer .thumbnailedArticle a .date, .categorized .formANDarticles .articleContainer .thumbnailedArticle a h2 {
  transition: all 0.2s ease-in-out;
}
.categorized .formANDarticles .articleContainer .thumbnailedArticle:hover .whiteBack {
  background-color: rgba(255, 255, 255, 0.5254901961);
}
.categorized .formANDarticles .articleContainer .thumbnailedArticle:hover .date, .categorized .formANDarticles .articleContainer .thumbnailedArticle:hover h2 {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */